body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin: 0px;
  background-color: #e1e8f0;
}

.slidecontainer {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.square {
  border: 1px groove;
  padding: 19px;
}

.hover {
  background-color: black;
}

#gridContainer {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 640px;
}

.button {
  transition-duration: 0.4s;
  background-color: white;
  border: 1px solid;
  padding: 10px;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

#clearBtn {
  border-color: royalblue;
}

#clearBtn:hover {
  background-color: royalblue;
}

#blackWhiteBtn {
  border-color: black;
}

#blackWhiteBtn:hover {
  background-color: gainsboro;
  color: black;
}

#funBtn {
  border-color: red;
}

#funBtn:hover {
  background-color: red;
}
